<div class="text-ranking">
<h3>las peliculas mas populares de la semana</h3>
</div>

<div class="ranking">
    
    <div class="primero-div">
    <img src="{{primero.imagen}}" alt="{{primero.numero}}">
    <img src="{{primero.ruta}}" alt="{{primero.alt}}">
    </div>

    <div class="segundo-div">
    <img src="{{segundo.imagen}}" alt="{{segundo.numero}}">
    <img src="{{segundo.ruta}}" alt="{{segundo.alt}}">
    </div>

    <div class="tercero-div">
    <img src="{{tercero.imagen}}" alt="{{tercero.numero}}">
    <img src="{{tercero.ruta}}" alt="{{tercero.alt}}">
    </div>

    <div class="cuarto-div">
    <img src="{{cuarto.imagen}}" alt="{{cuarto.numero}}">
    <img src="{{cuarto.ruta}}" alt="{{cuarto.alt}}">
    </div>

    <div class="quinto-div">
    <img src="{{quinto.imagen}}" alt="{{quinto.numero}}">
    <img src="{{quinto.ruta}}" alt="{{quinto.alt}}">
    </div>
    
</div>